* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: #232323;
    color: #DCDCDC;
}

.wrapper {
    width: calc(100% - 2rem);
    height: calc(100vh - 2rem);
    display: flex;
    justify-content: center;
    padding: 2rem 1rem;
    padding-bottom: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    gap: 2rem;
}

.input-task{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#main-input {
    border-radius: 4px;
    padding: 0.3rem;
    border: none;
    background-color: #191919;
    color: #DCDCDC;
}

#add-task {
    margin-top: 0.5rem;
    padding: 0.4rem ;
    width: 132px;
    border-radius: 8px;
    border: none;
}

.button-div {
    display: flex;
    justify-content: right;
}