{% extends 'base.html' %} 

{% block title %}
Fazer login
{% endblock title %}

{%block content %}
<div class="main-container login-container">
    <h1>Seja bem vindo!</h1>
    <p>Organize suas atividades diárias de forma simples e sem preucupações.</p>
    <form action="{% url 'login' %}" method="get">
        {% csrf_token %}
        <div class="login">
            <input type="text" name="email" class="main-input input-login" placeholder="E-mail">
            <input type="text" name="password" class="main-input input-login" placeholder="Senha">
            <label for="remember_me" id="remember-me-label">
                <input type="checkbox" name="remember_me" id="remember-me"> Lembrar de mim
            </label>
            <button type="submit" name="send-login" class="send-login">Entrar</button>
        </div>
    </form>
    <div class="cadastrar-usuario">
        <label for="cadastrar-usuario">Ainda não tem uma conta?</label>
        <a href="{% url 'cadastro_usuario'%}" name="cadastrar-usuario">Cadastre-se</a>
        <!-- <a href="">Esqueceu senha?</a> -->
    </div>
</div>
{% endblock content %}
